# Aurix IDE
.metadata/
.settings/
TriCore Debug (TASKING)/

#Code::BLocks IDE
obj/
bin/
*.cbp
*.depend
*.layout

# Testing Imports Files
Blinky_LED_1_KIT_TC375_LK/
MCMCAN_1_KIT_TC375_LK/

#other
.ads/
.settings/
Configurations/
Libraries/
bootloader/
